<div class="demo-content container container-fluid">
    <form [formGroup]="quoteForm" class="row searchBar" (ngSubmit)="onSubmit();">
        <div class="col-4">
          <input class="form-control" placeholder="Keywords" formControlName="keywords"/>
        </div>
        <div class="col-2">
          <button class="btn btn-primary">SEARCH 4 Memes</button>
        </div>
      </form>
    
    

      
      <div class="row">
        <div class="col-12 text-center">
          @for(meme of memes; track meme){
            <div class="row">
              <div class="col-12 text-center">
                <app-meme [meme]="meme" [locPrefix]="locPrefix" [likedMemes]="likedMemes" [updateLikedMemes]="updateLikedMemes"></app-meme>
              </div>
            </div>
          }
          @if(keywords.length !== 0 && memes.length === 0){
            <div class="row">
              <div class="col-12 text-center">
                NMF Error...
                <br />
                <br />
                <br />
                <small><small>it means No Memes Found</small></small>
              </div>
            </div>
          }
        </div>
      </div>      
</div>

