
<div class="row">
    <div class="ccol-12 text-center">
        @if(keywords.length){
            Searching quotes with keywords: {{keywords}}
        }
    </div>
</div> 

<div class="row">
    @for(quote of quotes; track quote){
        <div class="row quoteLine">
            <div class="col-12 text-center">
                <i>"{{ quote?.quote && sanitizeQuote(quote.quote)}}"</i> <br />
                @if (quote?.author.length) {
                    ~ By {{ quote?.author }}
                }
            </div>

        </div>
    }
    @empty{
        <div class="row">
            <div class="col-12 text-center">
                No quotes loaded
            </div>
        </div>        
    }
</div>