<div class="meme">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-12 text-left memeTitle">
            {{meme.name | uppercase }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-12 mcentered text-center">
            <img src="{{getMemeUrl(locPrefix, meme.location)}}" class="memeImg" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-12 text-left memeLike">
            @if(likedMemes[meme.id]){
                <img src='https://cdn-icons-png.flaticon.com/512/10099/10099539.png' class="likeIcon" />
            }@else {
                <img src='https://cdn-icons-png.flaticon.com/512/16/16287.png'class="likeIcon pointer" (click)="likeMeme(meme)" />
            }
            <span>{{meme.likes | numberpipe: 4 }}</span>
        </div>
    </div>    
</div>
